*.ipynb
.ipynb_checkpoints/

.DS_Store
.AppleDouble
.LSOverride
._*

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

*.log

models/*.pkl
models/*.joblib

outputs/*.csv
outputs/*.json
outputs/*.log

.vscode/
.idea/

.*
!.gitignore
!.env.example